:root {
  background-color: #131516;
  color: white;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.headerPrincipal {
  display: flex;
  background-color: #121212;
  color: #fff;
  padding: 10px 20px;
  justify-content: space-between;
  align-items: center;
}
button,
input[type="submit"] {
  cursor: pointer;
}
nav {
  display: flex;
  justify-content: center;
  background-color: #007c6f;
}
.navPrincipal a {
  color: #ffffff;
  text-decoration: none;
  padding: 20px 20px;
}
.navPrincipal a:hover {
  color: #02edd5;
  background-color: #004942;
}
.textoBienvenida {
  text-align: center;
  padding: 19px 20px;
}
.logoCabeza {
  display: flex;
}
.logoCabeza img {
  height: 70px;
}
#iniciarSesion {
  background-color: #007c6f;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  border: none;
}
#crearCuenta {
  background-color: #00423b;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  border: none;
}
#iniciarSesion:hover {
  color: #02edd5;
  background-color: #004942;
}
#crearCuenta:hover {
  color: #00bdab;
  background-color: #002b27;
}

#modal::backdrop,
#modal2::backdrop,
#modal3::backdrop,
#modal4::backdrop {
  background-color: rgba(0, 0, 0, 0.55);
}

#modal,
#modal2,
#modal3,
#modal4 {
  position: absolute;
  width: 380px;
  padding: 20px 30px;
  background-color: #292b2c;
  color: white;
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  border-color: #004942;
}
#modal p,
#modal2 p,
#modal4 p {
  text-align: left;
}
#modal h2,
#modal2 h2,
#modal3 h2,
#modal4 h2 {
  text-align: center;
  color: #00a593;
  margin: 10px 0px 20px;
  font-size: 25px;
}
#modal3 form {
  display: flex;
  align-items: center;
  justify-content: center;
}

#rechazarBorrar {
  background-color: #007c6f;
  width: 116px;
  height: 40px;
  border: none;
  outline: none;
  font-size: 16px;
  color: white;
  border-radius: 5px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: 2px;
}
#rechazarBorrar:hover {
  color: #02edd5;
  background-color: #004942;
}
#modal3 form input[type="submit"] {
  background-color: #303233;
  width: 116px;
  height: 40px;
  border: none;
  outline: none;
  font-size: 16px;
  color: white;
  border-radius: 5px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: 2px;
  margin-left: 10px;
}
#modal3 form input[type="submit"]:hover {
  background-color: red;
}
#modal form,
#modal2 form,
#modal4 form {
  margin: 15px 0px;
}
#modal form p input[type="text"],
#modal form p input[type="password"],
#modal2 form p input[type="text"],
#modal2 form p input[type="password"],
#modal2 form p input[type="date"],
#modal2 form p input[type="email"],
#modal4 form p input[type="text"] {
  margin-top: 5px;
  display: block;
  width: 94%;
  padding: 10px;
  outline: none;
  border: 1px solid black;
  border-radius: 5px;
}
#modal2 form p select,
#modal4 form p select {
  margin-top: 5px;
  display: block;
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1px solid black;
  border-radius: 5px;
}

#modal form p input[type="submit"],
#modal2 form p input[type="submit"],
#modal4 form p input[type="submit"] {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  font-size: 16px;
  background-color: #007c6f;
  color: white;
  border-radius: 5px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: 2px;
}
#modal4 form p input[type="file"] {
  display: block;
  margin-top: 2px;
}
#modal form p input[type="submit"]:hover,
#modal2 form p input[type="submit"]:hover,
#modal4 form p input[type="submit"]:hover {
  color: #02edd5;
  background-color: #004942;
}
#cerrarInicio,
#cerrarCrear,
#cerrarAnadir {
  position: absolute;
  background-color: #888;
  border-radius: 100%;
  font-size: 30px;
  cursor: pointer;
  top: 10px;
  right: 9px;
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 15px;
  border: none;
}
#cerrarInicio:hover,
#cerrarCrear:hover,
#cerrarAnadir:hover {
  background-color: #585858;
}

.navUsuario {
  border-radius: 5px;
}
.navUsuario:hover {
  border-radius: 5px;
}
.dropMenu {
  font-size: 23px;
  margin-left: 5px;
}
.menu-usuario {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}
.menu-usuario > li > a {
  display: flex;
  text-decoration: none;
  border-radius: 5px;
  width: auto;
  justify-content: center;
  height: 45px;
  align-items: center;
  min-width: 130px;
  padding-left: 20px;
  padding-right: 20px;
}
.menu-vertical {
  position: absolute;
  display: none;
  list-style: none;
  background-color: #2f3437;
  padding: 0px 0px;
  border-radius: 5px;
}

.menu-vertical li {
  padding: 10px 20px;
}
.menu-vertical li:hover {
  background-color: #1f2021;
}
.menu-vertical li a {
  color: white;
  text-decoration: none;
  border-radius: 5px;
}
.menu-usuario li:hover .menu-vertical {
  display: block;
}
.menu-vertical .cerrar-sesion:hover {
  background-color: #a00000;
}
#userSeach {
  background-color: #007c6f;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  border: none;
  margin-right: 2px;
}
#resetSeach {
  background-color: #00423b;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  border: none;
}
#userSeach:hover {
  color: #02edd5;
  background-color: #004942;
}
#resetSeach:hover {
  color: #00bdab;
  background-color: #002b27;
}
.formUser input[type="text"] {
  padding: 10px;
  outline: none;
  border: 1px solid black;
  border-radius: 5px;
  padding-right: 96px;
}
.formUser {
  display: flex;
  justify-content: center;
  padding: 10px 10px;
  margin-top: 37px;
  margin-bottom: 12px;
}
.tablaUsuario {
  border-collapse: collapse;
  margin: 25px 0;
  min-width: 275px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin: auto;
  text-align: center;
}
.tablaUsuario thead th {
  background-color: #007c6f;
  color: #ffffff;
  font-weight: 600;
  font-size: x-large;
}
.tablaUsuario th,
.tablaUsuario td {
  padding: 12px 15px;
}
.tablaUsuario td a {
  text-decoration: none;
  color: #ffffff;
}
.tablaUsuario td a:hover {
  text-decoration: none;
  color: #00edba;
}
.tablaUsuario tbody tr {
  border-bottom: 1px solid #151515;
  background-color: #292b2c;
}

.tablaUsuario tbody tr:nth-of-type(even) {
  background-color: #3b3b3b;
}

.tablaUsuario tbody tr:last-of-type {
  border-bottom: 2px solid #007c6f;
}
#tablaPerfil {
  margin-top: 54px !important;
}
.boton {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007c6f;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.boton:hover {
  background-color: #004942;
}
.contenedorBoton {
  text-align: center;
  margin-top: 22px;
}

#editarPerfil {
  padding: 10px 10px;
  padding-left: 23px;
  margin: auto;
  width: 343px;
  border: 2px solid #004942;
  border-radius: 10px;
  margin-top: 22px;
}
#editarPerfil h1 {
  text-align: center;
  color: #00a593;
  margin: 10px 0px 20px;
  font-size: 25px;
}
#editarPerfil form {
  margin: 15px 0px;
}

#editarPerfil form p input[type="text"],
#editarPerfil form p input[type="password"],
#editarPerfil form p input[type="date"],
#editarPerfil form p input[type="email"] {
  margin-top: 5px;
  display: block;
  width: 94%;
  padding: 10px;
  outline: none;
  border: 1px solid black;
  border-radius: 5px;
}
#editarPerfil form p select {
  margin-top: 5px;
  display: block;
  width: 94%;
  padding: 10px;
  outline: none;
  border: 1px solid black;
  border-radius: 5px;
}

#editarPerfil form p input[type="submit"],
#borrarCuenta {
  width: 94%;
  height: 40px;
  border: none;
  outline: none;
  font-size: 16px;
  background-color: #007c6f;
  color: white;
  border-radius: 5px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: 2px;
}
#borrarCuenta {
  background-color: #313435;
}
#borrarCuenta:hover {
  background-color: red;
}
#editarPerfil form p input[type="submit"]:hover {
  color: #02edd5;
  background-color: #004942;
}
#exito,
#error {
  display: block;
  margin: 0 auto;
  width: fit-content;
  font-weight: bold;
}
#exito {
  color: #00a593;
}
#error {
  color: #a00000;
}

.juego {
  display: flex;
  margin-top: 20px;
  width: 929px;
  height: auto;
  margin-left: 37px;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #004942;
}

.imagenJuego {
  max-width: 184px;
  max-height: 255px;
  object-fit: contain;
}
.imagenJuego:hover {
  transform: scale(1.05);
}

.infoJuego {
  padding: 20px;
  margin-left: 20px;
  padding-bottom: 0px;
  padding-right: 0px;
  width: inherit;
}
.infoJuego h3 a {
  color: #027468;
  text-decoration: none;
}
.infoJuego h3 a:hover {
  color: #00edba;
}
.infoJuego strong {
  color: #00a593;
}
.container {
  display: flex;
  justify-content: center;
}
.contenedorAnadirJuego {
  display: flex;
  justify-content: center;
}
#anadirJuego {
  width: 132px;
  height: 40px;
  border: none;
  outline: none;
  font-size: 15px;
  background-color: #007c6f;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 20px;
}
#anadirJuego:hover {
  color: #02edd5;
  background-color: #004942;
}

.quitarBiblioteca input[type="submit"],
.mostrarFormularioAñadir, .mostrarModalBiblioteca {
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  font-size: 30px;
  background-color: #313435;
  color: white;
  border-radius: 5px;
  margin-top: 2px;
}
.quitarBiblioteca input[type="submit"]:hover {
  background-color: #a00000;
}

.quitarBiblioteca {
  text-align: right;
}
.mostrarFormularioAñadir {
  background-color: #007c6f;
}
.mostrarFormularioAñadir:hover {
  color: #02edd5;
  background-color: #004942;
}
.contenedorBtnAgregarJuego {
  text-align: right;
}

.formAnadirJuego {
  padding: 10px 10px;
  padding-left: 23px;
  margin: auto;
  width: 408px;
  border: 2px solid #004942;
  border-radius: 10px;
  margin-top: 22px;
}
.formAnadirJuego form {
  margin: 15px 0px;
}

.formAnadirJuego input[type="text"] {
  margin-top: 5px;
  display: block;
  width: 91%;
  padding: 10px;
  outline: none;
  border: 1px solid black;
  border-radius: 5px;
}
.formAnadirJuego select {
  margin-top: 5px;
  display: block;
  padding: 6px;
  outline: none;
  border: 1px solid black;
  border-radius: 5px;
}

.formAnadirJuego input[type="submit"],
.formAnadirJuego button {
  width: 90px;
  height: 40px;
  border: none;
  outline: none;
  font-size: 15px;
  background-color: #007c6f;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 2px;
}
.contenedorSelect {
  display: flex;
  gap: 3px;
}
.contenedorBotones {
  display: flex;
  margin-top: 10px;
  gap: 10px;
  justify-content: center;
}
.formAnadirJuego button {
  background-color: #313435;
}
.formAnadirJuego button:hover {
  background-color: #252627;
}
.formAnadirJuego input[type="submit"]:hover {
  color: #02edd5;
  background-color: #004942;
}
.containerAnadirJuego {
  justify-content: center;
}
.filtros {
  top: 0;
  border: solid #004942 2px;
  height: fit-content;
  width: fit-content;
  border-radius: 10px;
  margin-top: 20px;
  background-color: #001816;
  padding: 20px;
}
.filtros h1 {
  text-align: center;
  color: #ffffff;
  margin-top: 0;
}
.filtoTexto input[type="text"] {
  margin-top: 5px;
  display: block;
  width: calc(100% - 20px);
  padding: 10px;
  outline: none;
  border: 1px solid black;
  border-radius: 5px;
}
.filtroGenero {
  margin-top: 20px;
}
.filtroGenero select {
  margin-top: 5px;
  display: block;
  padding: 6px;
  outline: none;
  border: 1px solid black;
  border-radius: 5px;
}
.rangoNota {
  margin-top: 20px;
}
.inputNota {
  display: flex;
  justify-content: center;
}
.inputNota input[type="number"] {
  width: 45px;
  height: 29px;
  border-radius: 5px;
  text-align: center;
  letter-spacing: 1px;
  font-size: 15px;
  border: 1px solid black;
  margin-top: 5px;
}
.containerGeneroRango {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.separador {
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 19px;
}
.filtros label {
  font-weight: bold;
  display: flex;
  justify-content: center;
}
.filtros button {
  width: 90px;
  height: 40px;
  border: none;
  outline: none;
  font-size: 15px;
  background-color: #007c6f;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 2px;
}
.filtros button:hover {
  color: #02edd5;
  background-color: #004942;
}
.containerfiltroReset {
  justify-content: right;
  display: flex;
  margin-top: 20px;
}
.containerFiltrosAnadirJuego {
  position: sticky;
  height: fit-content;
  top: 0;
}
.fichaJuego {
  display: flex;
  border: 2px solid #004942;
  border-radius: 10px;
  padding: 20px;
  height: 300px;
}
.containerFichaJuegoComentarios {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  width: -webkit-fill-available;
}
.imagenJuegoFicha {
  max-width: 224px;
  max-height: 313px;
}
.infoJuegoFicha {
  height: 17vh;
}
.infoJuegoFicha h1,
.generoFicha strong {
  color: #028f81;
}
.notaMediaFicha,
.rankingFicha {
  margin-left: 20px;
  text-align: center;
}
.containerNotaPuesto {
  display: flex;
  justify-content: flex-end;
}
.notaMediaFicha strong,
.rankingFicha strong {
  background-color: #027468;
  border-radius: 5px;
  padding: 5px 25px;
  letter-spacing: 2px;
}
.notaMediaFicha span,
.rankingFicha span {
  padding: 9px;
  font-size: 19px;
  font-weight: bold;
  display: block;
}
.containerGeneroNotaPuesto {
  display: flex;
  justify-content: space-between;
}
.generoFicha {
  display: flex;
}
.containerComentarios {
  border: 2px solid #004942;
  border-radius: 10px;
  max-height: 30vh;
  padding: 20px;
  overflow: auto;
}
.comentario {
  border: 1px solid #004942;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
.comentariosLabel {
  color: #00a593;
  margin-bottom: 6px;
}
main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 1220px;
  margin: auto;
  margin-top: 60px;
}
.cajaDeComentarios {
  margin-bottom: 40px;
  margin-top: 60px;
}
.usuarioComentario h3 {
  margin: 0px;
  color: #00b19f;
}
.usuarioComentario a {
  text-decoration: none;
}
.notaComentario span {
  color: #00a593;
  font-weight: bold;
}
.editarFicha {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  margin-top: 20px;
}

.containerEditFicha {
  display: flex;
  margin: auto;
  justify-content: center;
  margin-top: 60px;
}
.formJuego p input[type="text"],
.btnBorrarFicha {
  width: -webkit-fill-available !important;
}

.imagenJuegoBiblioteca {
  width: 80px;
  height: 101px;
}
.tituloBiblioteca {
  text-align: center;
  color: #00a593;
}
.tablaBiblioteca {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 275px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin: auto;
  text-align: center;
}
.tablaBibliotecaTitulo {
  text-align: left;
  display: flex;
  flex-direction: column;
  min-width: 358px;
}
.tablaBibliotecaTitulo h3 {
  margin-bottom: 0;
}
.tablaBibliotecaTitulo a {
  color: #00a593;
  text-decoration: none;
}
.tablaBibliotecaTitulo a:hover {
  text-decoration: none;
  color: #00edba;
}
.tablaBiblioteca thead th {
  background-color: #007c6f;
  color: #ffffff;
  font-weight: 600;
  font-size: x-large;
}
.tablaBiblioteca thead th a{
  text-decoration: none;
  color: white;
}
.tablaBiblioteca thead th a:hover{
  color: #00edba;
}
.tablaBiblioteca th,
.tablaBiblioteca td {
  padding: 12px 15px;
}

.tablaBiblioteca tbody tr {
  border-bottom: 1px solid #151515;
  background-color: #292b2c;
}

.tablaBiblioteca tbody tr:nth-of-type(even) {
  background-color: #3b3b3b;
}

.tablaBiblioteca tbody tr:last-of-type {
  border-bottom: 2px solid #007c6f;
}
.estadoColor {
  padding: 0px 5px !important;
}
.notaPlataforma{
  font-size: 16px;
  font-weight: bold;
}

.containerFiltroBiblioteca{
  display: flex;
  gap: 20px;
}
.containerTextoNotaBiblioteca, .containerFiltrosBiblioteca{
  display: flex;
  gap: 20px;
}
.filtroNota label{
  font-weight: bold;
  display: flex;
  justify-content: center;
}
.filtroNota select{
  margin-top: 5px;
  display: block;
  padding: 9px;
  outline: none;
  border: 1px solid black;
  border-radius: 5px;
}
.filtroEstado{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
}

.filtroEstado a{
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 3px 6px;
}
.filtroEstado a:hover{
  border-bottom: solid 3px #017d45;
}
.select{
  border-bottom: solid 3px #017d45;
  color: #02edd5 !important;
}
.mostrarModalBiblioteca a {
  font-size: 18px;
  text-decoration: none;
}
.mostrarModalBiblioteca:hover {
background-color: #007c6f;
}
.containerPlataformaNota {
  display: flex;
  gap: 12px;
}